/* --- Game General Page Styles --- */

.page-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #000;
}
.page-title .highlight {
    color: #000;
}

/* Table Styling */
.table-card {
    padding: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 25px;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
}

.custom-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
    border-right: 2px solid #f0f0f0 ;
    vertical-align: middle;
}

/* Text Styles */
.text-id {
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
}

.text-name {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
}

/* Image Preview Box */
.img-preview-box {
    width: 8rem;
    height: 8rem;
    border-radius: 1.25rem;
    border: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.img-preview-box img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* ให้รูปย่อขยายตามสัดส่วน ไม่เบี้ยว */
    padding: 10px;       /* เว้นขอบนิดหน่อย */
}


/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #22c55e;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
